    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
background: #000000;
background: linear-gradient(
  135deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(0, 10, 40, 1) 25%,
  rgba(0, 20, 60, 1) 50%,
  rgba(0, 255, 255, 0.15) 100%
);


    }

    .video-fondo {
      position: fixed;
      top: 200px;
      left: 250px;
      width: 70vw;
      height: 70vh;
      pointer-events: none; /* No interfiere con clics */
      z-index: 1;
opacity: 0.7;
background-color: black;
background: white;

    }

    .contenido {
      position: relative;
      z-index: 1;
      color: white;
      text-align: center;
      padding-top: 30vh;
      font-family: Arial, sans-serif;
    }


.btn {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: none;
  border: 2px solid #646cff;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
margin-left: 800px;
margin-top: 300px;
}

.glitch {
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

.glitch:hover {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-4px, 4px);
  }
  40% {
    transform: translate(-4px, -4px);
  }
  60% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(4px, -4px);
  }
  100% {
    transform: translate(0);
  }
}

#boxtitle{
display: flex;
flex-direction: column;
background-color: antiquewhite;
justify-content: center;
align-items: center;
margin-top: -100px;
word-spacing: 10px;
letter-spacing: 5px;
  font-family: 'Black Ops One', sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  background: linear-gradient(145deg, #f5f5f5, #a0a0a0, #3b3b3b);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 2px #00eaff;
  text-shadow:
    0 0 15px #00eaff,
    0 0 30px #00eaff,
    0 0 60px #007bff;
  text-align: center;

}
